.avatar {

    position: relative;

    width: 300px;

    height: 300px;

    border: 1px solid black;

}


.avatar img {

    position: absolute;

    width: 100%;

    left: 0;

    top: 0;

}



.panel {

    margin-top: 20px;

}



input {

    width: 80px;

}