.ChooseAnimal {
    width: 100%;
    height: 100vh;

    background-image: url("../img/chooseCatDog.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    position: relative;
}

.ChooseAnimal .content,
.animal-selection .content {
    display: flex;
    align-items: center;
    justify-content: center;
}

#ChooseAnimalbutton {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* =========================================
   FACTORY CONTENT
========================================= */

.ChooseAnimal .content {
    width: 100%;
    height: 60vh;

    /* display: flex; */
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */

    position: relative;
    z-index: 2;
}


/* =========================================
   PANEL
========================================= */

.animal-selection {
    width: 100%;
    height: 40vh;

    background-image: url("../img/panel.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    position: absolute;

    left: 0;
    bottom: 0;

    z-index: 10;

    /* display: flex;
    align-items: center;
    justify-content: center; */
}


/* =========================================
   PANEL CONTENT
========================================= */

.animal-selection .content {
    width: 100%;
    height: 100%;

    /* display: flex;
    align-items: center;
    justify-content: center; */

    gap: 30px;
}

/* =========================================
   phone responsive
========================================= */
/* @media(max-width: 768px) {
    .factory {
        background-size: 180% 100%;
        background-position: 50% 30%;
    }
} */