/* =========================================
   Avatar Container
========================================= */

.avatar-container {

    width: 300px;
    height: 300px;

    /* margin: 20px auto; */

    overflow: hidden;

    border: 1px solid black;

}


/* =========================================
   Avatar Stage
========================================= */

.avatar-stage {

    position: relative;

    width: 300px;
    height: 300px;

    overflow: hidden;

}


/* =========================================
   All Avatar Images
========================================= */

.avatar-stage img {

    position: absolute;

    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    object-fit: contain;

    transform-origin: center center;

    pointer-events: none;

}


/* =========================================
   Body
========================================= */

#bodyImg {

    left: 0;
    top: 0;

    transform: none;

}


/* =========================================
   Eye / Ear / Tail
========================================= */

#eyeImg,
#earImg,
#tailImg {

    left: 0;
    top: 0;

}

.selected {
    background: #4CAF50;
    color: white;
    border: 3px solid #2E7D32;
}