body {
    min-height: 100vh;
    background-image: url("../img/Background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

/* =========================================
   content layout
========================================= */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


/* =========================================
   index layout
========================================= */
#index {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* align-content: center; */
    justify-content: space-between;
    height: 70vh;
    width: 100%;
    /* gap: 30px; */
    /* padding: clamp(2rem, 4vw + 1rem, 3.5rem); */
}


/* =========================================
   index logo img
========================================= */
.logo {
    width: clamp(280px, 60vw, 420px);
    height: auto;
}


/* =========================================
   phone responsive
========================================= */
@media(max-width: 768px) {
    body {
        background-image: url("../img/phone-bg.png");
    }
}