body {
    width: 100%;
    height: 100vh;

    background-image: url("../img/factoryBg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.content {
    height: 100vh;
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}