/* =========================================
   Ending Background
========================================= */
#endingBg {
    background-image: url("../img/BadEnding.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    height: 35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result-title {
    font-size: clamp(80px, 15vw, 100px);
}

.result-cardTitle {
    margin: 0;
    text-align: center;
}

.keyword {
    color: var(--keyword-color);
}

/* =========================================
   result-card
========================================= */

#card-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 50px;
    margin: 0px 0px 100px 0px;
    /*top right bottom left*/
    gap: 100px;
}


/* =========================================
   result-card
========================================= */

.result-card {
    width: 200px;
    height: 250px;
    perspective: 1000px;
    position: relative;
}

.result-card .card-front,
.result-card .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: transform 0.6s;
    border: 1px solid black;
    padding: 20px;
}

.result-card .card-front {
    background-color: rgb(255, 190, 241);
}

.result-card .card-back {
    background-color: rgb(203, 150, 255);
}

.card-back {
    transform: rotateY(180deg);
}

.result-card:hover .card-front {
    transform: rotateY(180deg);
}

.result-card:hover .card-back {
    transform: rotateY(0deg);
}

/* =========================================
   result-Button
========================================= */
#restartBtnBg {
    display: flex;
    background-image: url("../img/ResartBg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: end;
    align-items: center;
    height: 33rem;
    padding: 0px clamp(80px, 15vw, 116px);
}

/* .MakeOtherImg {
    width: 50%;
    height: 100%;
} */

#restartBtnContainer {
    width: 55%;
    display: flex;
    flex-direction: column;
}

/* =========================================
   footer
========================================= */

.AllRights-container {
    background-color: var(--footer-Allrights-bg);
    color: var(--color-background);
}

.AllRights {
    padding: clamp(1.125rem, 0.75vw + 0.8rem, 1.375rem) 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer {
    background-image: url("../img/Footerbg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 21rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: clamp(130px, 15vw, 150px);
    margin-bottom: clamp(1.125rem, 0.75vw + 0.8rem, 1.375rem);
}

.footer-text {
    color: var(--color-background);
}

/* =========================================
   phone responsive
========================================= */

@media(max-width: 768px) {
    #restartBtnContainer {
        width: 100%;

    }
}